{% extends '../../common/layout.html' %}
{% block title %}View{% endblock %}
{% block content %}
<div class="country-view">
    <h1>{{ data.name }}</h1>
    <p>
        <a class="btn btn-primary" href="/update?id={{ data.id }}">Update</a>
        <a class="btn btn-danger" href="/api/delete?id={{ data.id }}" data-confirm="Are you sure you want to delete this item?" data-method="post">Delete</a>
    </p>
    <table id="w0" class="table table-striped table-bordered detail-view">
        <tbody>
            {% for item in data %}
                <tr>
                    <th>{{ loop.key }}</th>
                    <td>{{ item }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script defer src="/scripts/view.js"></script>
{% endblock %}