<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://cdn.bootcss.com/">
    <link rel="dns-prefetch" href="https://cdn.polyfill.io/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link href="/styles/site.css" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>

<body>

    <div class="wrap">
        <nav id="w1" class="navbar-inverse navbar-fixed-top navbar">
            <div class="container">
                <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#w1-collapse"><span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span></button><a class="navbar-brand" href="#">My
                        Application</a>
                </div>
                <div id="w1-collapse" class="collapse navbar-collapse">
                    <ul id="w2" class="navbar-nav navbar-right nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Books</li>
            </ul>
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="pull-left">© My Company 2018</p>

            <p class="pull-right">Powered by <a href="http://www.yiiframework.com/" rel="external">Yii Framework</a></p>
        </div>
    </footer>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/yii.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/systemjs/2.1.1/system.min.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch"></script>
    <script type="module">
        import debounce from '/scripts/debounce.js'
        window.debounce = debounce
    </script>
    <script nomodule src="/scripts/debounce.es5.js"></script>
    {% block scripts %}{% endblock %}

</body>

</html>