<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://cdn.bootcss.com/">
    <link rel="dns-prefetch" href="https://cdn.polyfill.io/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link href="/styles/site.css" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>

<body>

    <div class="wrap">
        {% include '../../components/Header/header.html' %}
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Books</li>
            </ul>
            <div id="pjax-container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% include '../../components/Footer/footer.html' %}

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script async src="/scripts/yii.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch"></script>
    <script src="https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
    <script>
        $(document).pjax('a:not([data-method])', '#pjax-container')
    </script>
    <script src="https://cdn.bootcss.com/x-tag/2.0.9-alpha/x-tag-polyfilled.min.js"></script>
    <script id="activejs-container"></script>
    <script>
        fetch('/manifest.json').then(res => res.json()).then(data => {
            if (!localStorage["manifest.json"]) {
                localStorage.setItem("manifest.json", JSON.stringify(data))
                Object.values(data).map(fileUrl => {
                    fetch(fileUrl).then(res => res.text()).then(fileData => {
                        localStorage.setItem(fileUrl, fileData)
                    })
                })
            } else {
                var oldManifest = JSON.stringify(localStorage.getItem("manifest.json"))
                Object.keys(data).map(file => {
                    if (data[file] !== oldManifest[file]) {
                        fetch(data[file]).then(res => res.text()).then(fileData => {
                            localStorage.setItem(data[file], fileData)
                            localStorage.removeItem(oldManifest[file])
                        })
                    }
                })
            }
        })
        
        var activeJS = (function () {
            var activedJs = new Set
            return function (url) {
                if (!activedJs.has(url)) {
                activedJs.add(url)
                var activejsContainer = document.getElementById("activejs-container")
                var containerParent = activejsContainer.parentNode
                containerParent.removeChild(activejsContainer)
                activejsContainer = document.createElement("script")
                activejsContainer.id = 'activejs-container'
                activejsContainer.innerHTML = localStorage.getItem(url)
                containerParent.appendChild(activejsContainer)
            }
            }
        })()
    </script>
    {% block scripts %}{% endblock %}

</body>

</html>