<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://cdn.bootcss.com/">
    <link rel="dns-prefetch" href="https://cdn.polyfill.io/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link href="/styles/site.css" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>

<body>

    <div class="wrap">
        <x-header></x-header>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Books</li>
            </ul>
            <div id="pjax-container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <x-footer></x-footer>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/yii.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch"></script>
    <script src="https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
    <script>
        $(document).pjax('a', '#pjax-container')
    </script>
    <script src="https://cdn.bootcss.com/x-tag/2.0.9-alpha/x-tag-polyfilled.min.js"></script>
    <script src="/scripts/xtag-init.js"></script>
    <script type="module">
        import debounce from '/scripts/debounce.js'
        window.debounce = debounce
    </script>
    <script nomodule  src="https://cdn.bootcss.com/systemjs/2.1.1/system.min.js"></script>
    <script nomodule>
        // 需要利用webpack插件将ES6 Module编译为System.register格式
        System.import('/scripts/debounce.systemjs.js').then(module => {
            window.debounce = module.default
        })
    </script>
    {% block scripts %}{% endblock %}

</body>

</html>
